.productInfo {
	display: flex;
	flex-direction: column;
	gap: 20px;


}

.reviewsBox {
	display: flex;
	gap: 10px;

	& a {
		font-size: 18px;
		text-decoration: underline;
		transition: opacity .3s ease-in-out;

		&:hover {
			opacity: .6;
		}
	}
}


.title {
	margin: 0;
	text-align: left;
}

.caption {
	font-size: 18px;
}

.fillerBox {
	display: flex;
	flex-direction: column;
	gap: 10px;
}

.fillerList {
	display: flex;
	flex-wrap: wrap;
	gap: 10px;
	margin: 0;
	padding: 0;

}

.fillerBtn {
	padding: 2px 10px;
	font-size: 18px;
}

.deliveryCaption {
	font-size: 18px;
	display: block;
	padding-bottom: 10px;


}

.deliveryTable {
	border-spacing: 10px 10px;
}

.btn {
	display: inline-block;
	width: 80%;
}