.gallery {
	max-width: 950px;
}

.container {
	display: flex;
	gap: 30px;

	@media (max-width: 1265px) {
		flex-direction: column;

	}

}

.img {
	@media (max-width: 1080px) {
		width: 600px;
		height: 300px;

	}

	@media (max-width: 600px) {
		width: 320px;
		height: 180px;
		margin: 0 auto;


	}
}

.controlImg {
	@media (max-width: 600px) {
		width: 80px;
		height: 40px;

	}

	@media (max-width: 380px) {
		width: 60px;
		height: 30px;
		margin: 0 auto;


	}
}

.list {
	display: flex;
	flex-direction: column;
	gap: 20px;
	padding: 0;
	margin: 0;

	& li {
		cursor: pointer;
	}

	@media (max-width: 1265px) {
		flex-direction: row;

	}
}