.contacts {
	padding: 100px 0;
	padding-top: 100px;
	padding-bottom: 150px;

	@media (max-width: 720px) {
		padding: 40px 0;
	}

}

.container {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: relative;

	@media (max-width: 998px) {
		justify-content: center;
		gap: 100px;
	}

	@media (max-width: 720px) {
		flex-direction: column;
		gap: 50px;
	}

}

.callUs {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 290px;
	z-index: 20;

	@media (max-width: 720px) {
		max-width: 290px;
	}

	&Title {
		font-size: 30px;
		font-weight: 700;

		@media (max-width: 600px) {
			font-size: 24px;
		}
	}

	&Phone {
		font-size: 30px;

	}

	&Caption {
		opacity: .6;
		margin-bottom: 20px;

	}
}

.social {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 290px;
	z-index: 20;

	@media (max-width: 720px) {
		max-width: 290px;
	}

	&Title {
		font-size: 26px;
		font-weight: 700;

		& span {
			color: hsl(207, 100%, 50%);
		}


		@media (max-width: 600px) {
			font-size: 22px;
		}
	}

	&List {
		display: flex;
		flex-direction: column;
		gap: 20px;
	}

	&Item {
		position: relative;

		&::before {
			content: '';
			position: absolute;
			left: -20px;
			top: 50%;
			transform: translateY(-50%);

			background-color: hsl(207, 100%, 50%);
			width: 8px;
			height: 8px;
		}
	}
}

.img {
	@media (max-width: 998px) {
		position: absolute;
		left: 46%;
		top: -50%;
		transform: translateX(-50%);
		width: 140px;
		height: 270px;
	}

	@media (max-width:720px) {
		top: 22%;
		left: 68%;
		width: 80px;
		height: 170px;
	}

	@media (max-width:720px) {
		left: 85%;

	}
}