.filter {
	padding-bottom: 20px;
	border-bottom: 2px solid rgba(#000000, 0.3);
	margin-bottom: 40px;
	max-width: 510px;

	@media (max-width: 375px) {
		max-width: 290px;
	}

}

.shortFilter {
	padding-bottom: 20px;
	margin-bottom: 40px;
	max-width: 510px;

	@media (max-width: 375px) {
		max-width: 290px;
	}
}

.title {
	display: block;
	font-size: 20px;
	padding-bottom: 15px;

}

.shortTh {
	display: grid;
	grid-template-columns: repeat(2, 180px);
	align-items: center;
	gap: 10px 40px;

	& span {
		opacity: .7;
	}

	@media (max-width: 560px) {
		grid-template-columns: repeat(2, 80px);
	}

	@media (max-width: 375px) {
		grid-template-columns: repeat(2, 80px);
	}

}

.th {
	display: grid;
	grid-template-columns: repeat(3, 180px);
	align-items: center;
	gap: 10px 40px;

	& span {
		opacity: .7;
	}

	@media (max-width: 560px) {
		grid-template-columns: repeat(3, 80px);
	}

}

.bold {
	font-weight: 700;
	opacity: 1 !important;
}

.closed {
	position: relative;
	font-weight: 700;
	opacity: 1 !important;

	&::after {
		content: 'x';
		position: absolute;
		right: 20%;
		top: 50%;
		transform: translateY(-53%);

		@media (max-width: 560px) {
			display: none;
		}

	}
}