.characteristics {
	position: relative;
	padding: 100px 0;

	&::after {
		content: '';
		position: absolute;
		left: 0;
		top: 0;
		background-color: rgba(grey, 0.1);
		width: 70%;
		height: 100%;
	}
}

.container {
	position: relative;
	z-index: 50;
}

.title {
	text-align: left;
}

.btn {
	font-size: 14px;
	max-width: 520px;

	& span {
		font-weight: 700;
		padding-right: 5px;

	}
}